<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CapStore | Email</title>
    <link rel="stylesheet" href="../static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script src="../static/script/jquery.js"></script>
    <script src="../static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="emailhead text-center">
            <h1>Cap Mail</h1>
        </div>

        <div class="email-table">
            <table class="table table-hover">
                <thead>
                  <tr >
                    <th scope="col">#</th>
                    <th scope="col">From Merchant</th>
                    <th scope="col">Message</th>
                    <th scope="col">Send</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-target="#exampleModalCenter">
                    <th scope="row">1</th>
                    <td> Shubham, 7599246009</td>
                    <td>Amazing Discount...$disc of on buying $prod</td>
                    <td> <a href="#">Send</a> </td>
                    <td> <a href="#">Remove</a> </td>
                </tr>
                  <tr data-target="#exampleModalCenter">
                    <th scope="row">2</th>
                    <td>Bhatiya,7599246239</td>
                    <td>Amazing Discount...$disc of on buying $prod</td>
                    <td> <a href="#">Send</a> </td>
                    <td> <a href="#">Remove</a> </td>
                  </tr>
                  <tr data-target="#exampleModalCenter">
                    <th scope="row">3</th>
                    <td >Chamiya, 7897246009</td>
                    <td>Amazing Discount...$disc of on buying $prod</td>
                    <td> <a href="#">Send</a> </td>
                    <td> <a href="#">Remove</a> </td>
                  </tr>
                </tbody>
              </table>
        </div>

        <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    </div>
</body>
</html>